<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>상품정보</title>
    <link href="/css/BoardList.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
    
    <!-- 제이쿼리 -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
    <h1>상품정보 검색</h1>
    
    <form class="navbar-form navbar-left" role="search" th:action="@{BoardSearch}" method="post">
	  <div class="form-group">
	    <input type="text" class="form-control" name="keyword" placeholder="Search">
	  </div>
	  <button type="submit" class="btn btn-default">검색</button>
	</form>
        
    <button type="button" class="btn btn-default navbar-btn" th:onclick="location.href='BoardInsert'">작성</button>
    
    
	<!-- Single button 드롭다운 버튼-->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	  	   분류 <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a th:href="@{BoardList_Dress}">의류</a></li>
	    <li><a th:href="@{BoardList_Eat}">식품</a></li>
	    <li><a th:href="@{BoardList_ETC}">기타</a></li>
	  </ul>
	</div>
	
    
    <div class="panel panel-default">
      <table class="table">
      <thead>
	      <tr>
	     	 <th>상품코드</th>
	     	 <th>분류</th>
	     	 <th>상품명</th>
	     	 <th>상품가격</th>
	     	 <th>등록일</th>
	     	 <th>갱신일</th>
	     	 <th>편집</th>
	      </tr>
	  </thead>   
	  
	  <tbody>
	      <tr th:each="board : ${boardList}"><!-- if boardList가 있다면 -->   
	        <td th:text="${board.goods_number}"></td><!-- 객체의 필드값  -->
	        <td th:text="${board.goods_id}"></td><!-- 객체의 필드값  -->
	        <td th:text="${board.goods_name}"></td><!-- 객체의 필드값  -->
	        <td th:text="${board.goods_price}"></td><!-- 객체의 필드값  -->
	        <td th:text="${board.insert_date}"></td><!-- 객체의 필드값  -->
	        <td th:text="${board.update_date}"></td><!-- 객체의 필드값  -->
	        <td><a th:href="@{BoardUpdate(goods_number=${board.goods_number})}">편집</a></td>
	        <!-- 
	          <td><a th:href="BoardUpdate?goods_cd=${board.goods_cd}">편집</a></td>
	           <a th:href="@{/order/details(id=1, action='show_all')}"></a>
	         -->
	      </tr>
	</tbody>
    </table>
    </div>
	</div>
  </body>
</html>