<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>상품작성</title>
    <link href="/css/list.css" rel="stylesheet"></link>
     <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>
	<h1>상품작성</h1>
	
	<form method="POST" th:action="@{BoardInserted}">
	<!-- th:object 해당 태그내에서 사용할 객체 선언, 태그 안에서 *{}안에 필드명을 입력-->
		<div>
		<table>
			<thead>
		      <tr>
		      	<th style="width:400px; height:30px;">상품코드</th>
		     	<th style="width:400px; height:30px;">상품명</th>
		     	<th style="width:400px; height:30px;">상품가격</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr>
		    	 <th><input type="text" name="goods_cd" id="goods_cd" value="0" placeholder="숫자 10자리"><button type=button id="cd_check">중복확인</button></th>
		    	 <th><input type="text" name="goods_name" ></th>
		    	 <th><input type="text" name="unit_price" ></th>
		    </tbody>
		    
	    </table>  
		</div>
		
		<div>
			<button type="submit" style="width:100px;">작성완료</button>
			<button type="submit" style="width:100px;">취소</button>
		</div>
		
	</form>
	
  </body>
	<script>
		 $("#cd_check").click(function(){ //id가 idCheck인것이 클릭 되면
			 alert("클릭됨");	
		 });
	
	</script>
</html>